<!doctype html>
<html lang="ru">
	<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-ND8PP2G');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Организация мероприятий и творческих вечеров в Санкт-Петербурге"/>
    <meta property="og:description" content="Event агентство по организации мероприятий под ключ в СПБ. Проводим творческие вечера и тимбилдинги, создаем уникальные программы по индивидуальным заказам. Обращайтесь в агентство - time to talk."/>
    <meta property="og:image" content="https://timetotalk.ru/img/g1.jpg"/>
    <meta property="og:url" content="https://timetotalk.ru/"/>
    <meta property="og:site_name" content="TIME TO TALK"/>
    
    <title>Организация мероприятий и творческих вечеров в Санкт-Петербурге</title>
    <link rel="preload" href="../fonts/Circe-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/Circe-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/Circe-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/Circe-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" href="../img/icon-planet.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://unpkg.com/imask"></script>
		<script src="https://yastatic.net/share2/share.js"></script>
</head>
<body>

<header class="header" id="js--anchHeader">
	<div class="header__wrapper">
			<button class="header__menuOpen" id="js--header__menuOpen" aria-label="открыть модальное меню"></button>
			<div class="header__logo2">
				<a href="../index.html">
					<picture class="header__logo2Pic">
						<source srcset="../img/icon-planet.webp" type="image/webp"> <!--картинка статьи в webp-->
						<img src="../img/icon-planet.png" alt="Логотип Time to talk" class="header__logo2Img"> <!--картинка статьи-->
					</picture>
					<h1 class="header__logo2Title">TIME TO TALK</h1>
					<p class="header__logo2Text">Культурно-образовательное пространство</p>
				</a>
				
				<!-- модальное меню -->
				<div class="header__modal" id="js--headerModalWindow">
					<h2 class="header__modalTitle">
						Мероприятия в 
						<span class="header__modalTitleColored">TIME TO TALK</span>
					</h2> <!--заголовок-->
					<ul class="header__modalList" id="js--headerModalList"> <!--текст карточки статьи-->
						<li class="header__modalItem i-masks"><a href="../index.html">Театральные практикумы</a></li>
						<li class="header__modalItem i-paints"><a href="../index.html">Мастер классы</a></li>
						<li class="header__modalItem i-micro"><a href="../index.html">Творческие вечера</a></li>
						<li class="header__modalItem i-kotel"><a href="../index.html">Спектакль-экскурсии</a></li>
					</ul>
					<h3 class="header__modalSmallTitle">Продукция компании</h3>
					<ul class="header__modalList">
						<li class="header__modalItem i-ball">
							<a target="_blank" href="https://www.instagram.com/inspire_ttt/">Рамка Inspire</a> 
						</li>
					</ul>
					<h3 class="header__modalSmallTitle">Больше о нас в статьях и соц. сетях</h3>
					<ul class="header__modalList i-ball">
						<li class="header__modalItem i-dnk"><a href="../articles.html">Статьи о нас</a></li>
					</ul>
					<div class="header__modalSocial footer__socialWrapper">
						<a target="_blank" href="https://www.youtube.com/channel/UCMXqWb-sXrCuUD7tAAs8D7g" class="footer__socialLink link1" aria-label="youtube"></a>
						<a target="_blank" href="https://vk.com/timetotalk8888" class="footer__socialLink link2" aria-label="Vkontakte"></a>
						<a target="_blank" href="https://t.me/timetotalk_8" class="footer__socialLink link3" aria-label="telegram"></a>
						<a target="_blank" href="https://www.facebook.com/timetotalk.ru" class="footer__socialLink link4" aria-label="facebook"></a>
						<a target="_blank" href="http://nstagram.com/timetotalk.ru/" class="footer__socialLink link5" aria-label="instagram"></a>
					</div>
					<button class="header__closeBtn" id="js--header__closeBtn" aria-label="закрыть модальное меню"></button>
				</div>
				<!-- конец модального окна -->

			</div>
			<nav class="header__nav">
				<ul class="header__list" id="js--header-list">
					<li class="header__item">
						<a href="../index.html" class="header__itemLink">
							Театральные практикумы
						</a>
					</li>
					<li class="header__item">
						<a href="../index.html" class="header__itemLink">
							Мастер классы
						</a>
					</li>
					<li class="header__item">
						<a href="../index.html" class="header__itemLink">
							Творческие вечера
						</a>
					</li>
					<li class="header__item">
						<a href="../index.html" class="header__itemLink header__itemLink--wide">
							Иммерсивные <br> спектакль-экскурсии
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__social">
				<a href="https://t.me/timetotalk_8" target="_blank" class="header__socialLinkTelegram" aria-label="Телеграм"></a>
				<a href="" target="_blank" class="header__socialLinkWhatsup" aria-label="Whatsup"></a>
			</div>
			<div class="header__contacts">
				<a href="tel:79836315539" class="header__tel"><span>+7 (983) 631-55-39</span></a>
				<button class="header__getPrice" id="js--headerButton">Рассчитать стоимость</button>
			</div>
	</div>
</header>

<main>

	<article class="article" id="article">
		
		<aside class="filter">
			<div class="filter__btn-container">

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'all'}" 
					@click="filterForArticles = 'all'">
						Все статьи
				</button>

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'masterClass'}" 
					@click="filterForArticles = 'masterClass'">
						Мастер-классы
				</button>

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'excursion'}" 
					@click="filterForArticles = 'excursion'">
						Экскурсии
				</button>

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'organization'}" 
					@click="filterForArticles = 'organization'">
						Организация мероприятий
				</button>

			</div>
			<div class="filter__container">
				<h2 class="filter__title">Популярные статьи</h2>
				<ul class="filter__list">
	
					<li 
						v-for="article in popularArticles"
						v-if="filterForArticles === article.category || filterForArticles === 'all'"
						class="filter__item" 
					>
						<a :href="article.link">
							<picture class="filter__pic">
								<!-- <source :srcset="'../img/' + article.fileNameOfImage + '.webp'"> -->
								<img 
									:src="'../img/' + article.fileNameOfImage + '.jpg'" 
									:alt="article.imageDescription"
								>
							</picture>
							<h3 class="filter__itemTitle"> {{ article.title }} </h3>
						</a>
					</li>
	
				</ul>
			</div>
		</aside>

        <div class="article__wrapper">
            <h1 class="article__title">Роспись по одежде: рассказываем, как и для кого</h1>
            <picture class="article__pic">
                <source srcset="../img/xudozh_stat1.webp" type="image/webp">
                <img src="../img/xudozh_stat1.jpg" alt="Роспись по одежде: рассказываем, как и для кого">
            </picture>
            <div class="article__info">
                <span class="article__date">Дата публикации: 10.09.2021</span> <!-- дата статьи -->
                <div class="ya-share2" data-curtain data-services="vkontakte,facebook,telegram,twitter,whatsapp"></div>
            </div>
            <div class="article__content">
    
                <!-- ЗДЕСЬ НАЧИНАЕТСЯ КОНТЕНТ СТАТЬИ -->
    
                <p>Как часто вы приходили в магазин, выбирали вещь, но не приобретали её, потому что вам не нравился рисунок? А что, если вы сами распишете вещь не хуже, чем у известных дизайнеров?</p>
                <p>TIME TO TALK занимается организацией различного рода мастер-классов и одним из самых популярных направлений стала ручная роспись по одежде. Этот вид деятельности берет своё начало много тысяч лет назад в Древнем Египте, Индии и Японии. Считалось, что одежда, расписанная вручную, защищает хозяина от болезней и неудач. В Малазии и Китае для создания красителя использовали красный камень или сажу, а наносили узор воском, собранным вручную у диких пчёл. Сегодня всё намного проще и доступнее – за пару часов вы сможете создать рисунок на ткани самостоятельно. После первого же мастер-класса у вас появится вещь с вашим авторским рисунком, но самое главное, у вас появится навык, который вы сможете использовать в дальнейшем самостоятельно.</p>
                
                <picture>
                    <source srcset="../img/xudozh_stat1.webp" type="image/webp">
                    <img src="../img/xudozh_stat1.jpg" alt="ДОБАВИТЬ ОПИСАНИЕ">
                </picture>
                
                <p>Как часто вы приходили в магазин, выбирали вещь, но не приобретали её, потому что вам не нравился рисунок? А что, если вы сами распишете вещь не хуже, чем у известных дизайнеров?</p>
    
                <ul>
                    <li>Мы предоставляем вам футболку или ткань, а также все необходимые расходные материалы (краски, кисти, шаблоны и тд.)</li>
                    <li>Самостоятельно или с художником вы продумываете эскиз</li>
                    <li>Художник-преподаватель рассказывает о свойствах акрила, нюансах работы с тканью и особенностях ухода за рисунком</li>
                    <li>Под руководством преподавателя вы начинаете рисовать</li>
                    <li>Занятие длится около 3 часов, после чего вы забираете уже готовое изделие.</li>
                </ul>
                
                <picture>
                    <source srcset="../img/xudozh_stat2.webp" type="image/webp">
                    <img src="../img/xudozh_stat2.jpg" alt="ДОБАВИТЬ ОПИСАНИЕ">
                </picture>
    
                <p>Такой мастер-класс подойдет как для тех, кто хочет расслабиться и отвлечься за интересным занятием, так и для тех, кто хочет освоить новый навык и серьезно настроен заниматься росписью одежды. А возможно, вы придете просто хорошо провести время, но на самом занятии поймете, что это ваша стихия.</p>
                <p>Мастер-класс по росписи одежды нередко выбирают в качестве творческого тимбилдинга – для таких случаев в TIME TO TALK все предусмотрено. Для организации корпоратива мы можем привлечь нашего фотографа или видеографа, накрыть для вашей команды фуршет и сделать розыгрыш подарков. Такое мероприятие оставит массу впечатлений, поможет сплотиться вашей команде и даст возможность каждому сотруднику раскрыть свой потенциал.</p>
                
                <picture>
                    <source srcset="../img/xudozh_stat3.webp" type="image/webp">
                    <img src="../img/xudozh_stat3.jpg" alt="ДОБАВИТЬ ОПИСАНИЕ">
                </picture>
    
    
                <!-- ЗДЕСЬ ЗАКАНЧИВАЕТСЯ КОНТЕНТ СТАТЬИ -->
    
            </div>

						<section class="more">

							<h2 class="more__title">Читайте также</h2>
							<ul class="more__list">
			
									<li v-for="item in readMore" :key="item.id" class="more__item">
											<a :href="item.link">
													<picture class="more__pic">
															<source :srcset="'../img/' + item.fileNameOfImage + '.webp'" type="image/webp"> <!--картинка статьи в webp-->
															<img 
																:src="'../img/' + item.fileNameOfImage + '.jpg'" 
																:alt="item.imageDescription"
															>
													</picture>
													<h2 class="more__itemTitle">{{ item.title }}</h2> <!--заголовок-->
													<p class="more__desc">{{item.firstText}}</p> <!--текст карточки статьи-->
											</a>
									</li>
			
							</ul>
						</section>
			
        </div>

  </article>

</main>

<footer class="footer">
	<div class="footer__wrapper">
		<div class="footer__wrapperLeft">
			<a href="../index.html" class="footer__leftLink">time to talk</a>
			<p class="footer__rights">© TIME TO TALK. All rights reserved</p>
			<a href="##" class="footer__politic">Политика конфиденциальности</a>
		</div>
		<ul class="footer__list" id="js--footerList">
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Главная</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Форматы</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Подбор формата</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Команда</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Сертификат</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Отзывы</a>
			</li>
			<li class="footer__item">
				<a href="../articles.html" class="footer__itemLink toInner">Статьи</a>
			</li>
		</ul>
		<div class="footer__wrapperRight">
			<div class="header__contacts">
				<a href="tel:79836315539" class="header__tel">+7 (983) 631-55-39</a>
				<button class="header__getPrice" id="js--footerButton">Рассчитать стоимость</button>
			</div>
			<a href="mailto:info@timetotalk.ru" class="footer__mail">info@timetotalk.ru</a>
			<div class="footer__socialWrapper">
				<a target="_blank" href="https://www.youtube.com/channel/UCMXqWb-sXrCuUD7tAAs8D7g" class="footer__socialLink link1" aria-label="youtube"></a>
				<a target="_blank" href="https://vk.com/timetotalk8888" class="footer__socialLink link2" aria-label="Vkontakte"></a>
				<a target="_blank" href="https://t.me/timetotalk_8" class="footer__socialLink link3" aria-label="telegram"></a>
				<a target="_blank" href="https://www.facebook.com/timetotalk.ru" class="footer__socialLink link4" aria-label="facebook"></a>
				<a target="_blank" href="http://instagram.com/timetotalk.ru/" class="footer__socialLink link5" aria-label="instagram"></a>
	</div>
		</div>
	</div>
</footer>

<div class="modalTest" id="js--modalTeam">
	<h2 class="modalTest__title">Узнайте стоимость мероприятия</h2>
	<p class="modalTest__text">Введите ваш номер</p>
	<p class="modalTest__textCall">И наши менеджеры свяжутся с вами в течение 1 минуты!</p>
	<form action="POST" class="modalTest__form" id="js--teamForm">
		<input type="tel" pattern="[+][7]\s[(][0-9]{3}[)]\s[0-9]{3}\s[0-9]{2}\s[0-9]{2}" id="tel6" name="telNumber" class="modalTest__formInput" placeholder="Ваш телефон" required>
		<button class="modalTest__formButton pushButton pushButton--form">отправить</button>
	</form>
</div>

<div class="modalThanks" id="js--modalThanks">
	<h2 class="modalThanks__title">Спасибо!</h2>
	<p class="modalThanks__text">Ваша заявка принята</p>
	<p class="modalThanks__text">Наши менеджеры свяжутся с вами в течение 1 минуты!</p>
</div>

<div class="modalOverlay" id="js--modalOverlay"></div>

<div class="loading" id="js--loading"></div>

<script src="../js/main.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/data.js"></script>
<script src="../js/inner.js"></script>

</body>
</html>