<!doctype html>
<html lang="ru">
	<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-ND8PP2G');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Организация мероприятий и творческих вечеров в Санкт-Петербурге"/>
    <meta property="og:description" content="Event агентство по организации мероприятий под ключ в СПБ. Проводим творческие вечера и тимбилдинги, создаем уникальные программы по индивидуальным заказам. Обращайтесь в агентство - time to talk."/>
    <meta property="og:image" content="https://timetotalk.ru/img/g1.jpg"/>
    <meta property="og:url" content="https://timetotalk.ru/"/>
    <meta property="og:site_name" content="TIME TO TALK"/>
    <meta name="description" content="Организация и проведение развлекательных мероприятий под ключ. Проводим творческие корпоративы недорого по всему Питеру. Недорого избавим вас от переживания по поводу творческого вечера. Заказать услугу - +7 (983) 631-55-39"/>
    
    <title>Организация оригинальных корпоративов в Санкт-Петербурге от Time to talk</title>
    <link rel="preload" href="../fonts/Circe-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/Circe-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/Circe-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../fonts/Circe-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" href="../img/icon-planet.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://unpkg.com/imask"></script>
		<script src="https://yastatic.net/share2/share.js"></script>
</head>
<body>

<header class="header" id="js--anchHeader">
	<div class="header__wrapper">
			<button class="header__menuOpen" id="js--header__menuOpen" aria-label="открыть модальное меню"></button>
			<div class="header__logo2">
				<a href="../index.html">
					<picture class="header__logo2Pic">
						<source srcset="../img/icon-planet.webp" type="image/webp"> <!--картинка статьи в webp-->
						<img src="../img/icon-planet.png" alt="Логотип Time to talk" class="header__logo2Img"> <!--картинка статьи-->
					</picture>
					<h1 class="header__logo2Title">TIME TO TALK</h1>
					<p class="header__logo2Text">Культурно-образовательное пространство</p>
				</a>
				
				<!-- модальное меню -->
				<div class="header__modal" id="js--headerModalWindow">
					<h2 class="header__modalTitle">
						Мероприятия в 
						<span class="header__modalTitleColored">TIME TO TALK</span>
					</h2> <!--заголовок-->
					<ul class="header__modalList" id="js--headerModalList"> <!--текст карточки статьи-->
						<li class="header__modalItem i-masks"><a href="../index.html">Театральные практикумы</a></li>
						<li class="header__modalItem i-paints"><a href="../index.html">Мастер классы</a></li>
						<li class="header__modalItem i-micro"><a href="../index.html">Творческие вечера</a></li>
						<li class="header__modalItem i-kotel"><a href="../index.html">Спектакль-экскурсии</a></li>
					</ul>
					<h3 class="header__modalSmallTitle">Продукция компании</h3>
					<ul class="header__modalList">
						<li class="header__modalItem i-ball">
							<a target="_blank" href="https://www.instagram.com/inspire_ttt/">Рамка Inspire</a> 
						</li>
					</ul>
					<h3 class="header__modalSmallTitle">Больше о нас в статьях и соц. сетях</h3>
					<ul class="header__modalList i-ball">
						<li class="header__modalItem i-dnk"><a href="../articles.html">Статьи о нас</a></li>
					</ul>
					<div class="header__modalSocial footer__socialWrapper">
						<a target="_blank" href="https://www.youtube.com/channel/UCMXqWb-sXrCuUD7tAAs8D7g" class="footer__socialLink link1" aria-label="youtube"></a>
						<a target="_blank" href="https://vk.com/timetotalk8888" class="footer__socialLink link2" aria-label="Vkontakte"></a>
						<a target="_blank" href="https://t.me/timetotalk_8" class="footer__socialLink link3" aria-label="telegram"></a>
						<a target="_blank" href="https://www.facebook.com/timetotalk.ru" class="footer__socialLink link4" aria-label="facebook"></a>
						<a target="_blank" href="http://nstagram.com/timetotalk.ru/" class="footer__socialLink link5" aria-label="instagram"></a>
					</div>
					<button class="header__closeBtn" id="js--header__closeBtn" aria-label="закрыть модальное меню"></button>
				</div>
				<!-- конец модального окна -->

			</div>
			<nav class="header__nav">
				<ul class="header__list" id="js--header-list">
					<li class="header__item">
						<a href="../index.html" class="header__itemLink">
							Театральные практикумы
						</a>
					</li>
					<li class="header__item">
						<a href="../index.html" class="header__itemLink">
							Мастер классы
						</a>
					</li>
					<li class="header__item">
						<a href="../index.html" class="header__itemLink">
							Творческие вечера
						</a>
					</li>
					<li class="header__item">
						<a href="../index.html" class="header__itemLink header__itemLink--wide">
							Иммерсивные <br> спектакль-экскурсии
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__social">
				<a href="https://t.me/timetotalk_8" target="_blank" class="header__socialLinkTelegram" aria-label="Телеграм"></a>
				<a href="" target="_blank" class="header__socialLinkWhatsup" aria-label="Whatsup"></a>
			</div>
			<div class="header__contacts">
				<a href="tel:79836315539" class="header__tel"><span>+7 (983) 631-55-39</span></a>
				<button class="header__getPrice" id="js--headerButton">Рассчитать стоимость</button>
			</div>
	</div>
</header>

<main>

	<article class="article" id="article">
		
		<aside class="filter">
			<div class="filter__btn-container">

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'all'}" 
					@click="filterForArticles = 'all'">
						Все статьи
				</button>

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'masterClass'}" 
					@click="filterForArticles = 'masterClass'">
						Мастер-классы
				</button>

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'excursion'}" 
					@click="filterForArticles = 'excursion'">
						Экскурсии
				</button>

				<button class="filter__btn" 
					:class="{'active': filterForArticles === 'organization'}" 
					@click="filterForArticles = 'organization'">
						Организация мероприятий
				</button>

			</div>
			<div class="filter__container">
				<h2 class="filter__title">Популярные статьи</h2>
				<ul class="filter__list">
	
					<li 
						v-for="article in popularArticles"
						v-if="filterForArticles === article.category || filterForArticles === 'all'"
						class="filter__item" 
					>
						<a :href="article.link">
							<picture class="filter__pic">
								<source :srcset="'../img/' + article.fileNameOfImage + '.webp'">
								<img 
									:src="'../img/' + article.fileNameOfImage + '.jpg'" 
									:alt="article.imageDescription"
								>
							</picture>
							<h3 class="filter__itemTitle"> {{ article.title }} </h3>
						</a>
					</li>
	
				</ul>
			</div>
		</aside>

        <div class="article__wrapper">
            <h1 class="article__title">Идеальный корпоратив: от идеи до реализации</h1>
            <picture class="article__pic">
                <source srcset="../img/korporat1.webp" type="image/webp">
                <img src="../img/korporat1.jpg" alt="Идеальный корпоратив: от идеи до реализации">
            </picture>
            <div class="article__info">
                <span class="article__date">Дата публикации: 13.09.2021</span> <!-- дата статьи -->
                <div class="ya-share2" data-curtain data-services="vkontakte,facebook,telegram,twitter,whatsapp"></div>
            </div>
            <div class="article__content">
    
                <!-- ЗДЕСЬ НАЧИНАЕТСЯ КОНТЕНТ СТАТЬИ -->
    
                <h2>Творческий корпоратив: от идеи до реализации</h2>
                <p>Идеальный корпоратив для вашей организации - какой он? Рассказываем, как удивить своих сотрудников и сделать из них сплоченный коллектив.</p>
                
                <p>Организация творческих мероприятий всегда требует эмоциональных и финансовых затрат, много времени и немного фантазии. Далеко не у всех руководителей есть желание этим заниматься, поэтому в данной статье мы рассмотрим 4 причины для обращения в организацию Time to talk, которая сделает всю работу за вас.</p>
    
                <p>Идеи</p>
                <p>Если вам кажется, что корпоратив - это всегда посиделки в ресторане или совместный поход в квесты, вы ошибаетесь. Существует масса развлечений для больших компаний, которые направлены на улучшение климата внутри коллектива. Самостоятельная организация и проведение развлекательных мероприятий не всегда дает желаемые результаты и отнимает много времени. Плюс обращения в ивент-агентство в том, что все эти идеи у нас уже есть - вам осталось только выбрать творческий номер на корпоратив.</p>
                <p>На ивент-рынке TIME TO TALK имеет явное преимущество по этому пункту - у нас всегда есть крутые и уже спланированные сценарии корпоративов. Литературный вечер с живой музыкой, арт-вечеринка с большим выбором мастер-классов, иммерсивный спектакль-экскурсия и даже театральный практикум. На сайте вы сможете подробнее ознакомиться с ними.</p>

                <picture>
                    <source srcset="../img/korporat2.webp" type="image/webp">
                    <img src="../img/korporat2.jpg" alt="Экономьте время. Заказывайте корпоратив">
                </picture>

                <p>Удобство и экономия</p> 
                <p>Если вы решили организовать корпоратив года своими силами, вам предстоит большая работа - придумать концепцию, найти место проведения, разобраться с меню, найти артистов и убедиться в их профессионализме. В большинстве случаях на этапах организации развлекательных мероприятий возникают трудности, с которыми неподготовленному человеку сложно справится. Поэтому чтобы не тратить свои нервы напрасно - обратитесь в агентство по организации развлекательных мероприятий под ключ.</p>
                <p>Если же вы обращаетесь к нам, то специалисты всё делают за вас. Это удобно и экономично с точки зрения вашего времени и энергозатрат. Только представьте, сколько всего вы сможете сделать в свободное время - поработать, посетить важную встречу или провести время с семьей?</p>
                
                <picture>
                    <source srcset="../img/korporat3.webp" type="image/webp">
                    <img src="../img/korporat3.jpg" alt="Широкая база специалистов">
                </picture>

                <p>Готовая база</p>
                <p>Так как, у компании уже налажены связи с наемными работниками, вам предлагают проверенных специалистов, за работу которых ручается компания. Вам не придется пересматривать тысячу фотографов, визажистов, преподавателей мастер-классов, официантов или несколько дней выбирать ведущего. Вы сможете посмотреть работы, ознакомиться с опытом конкретного специалиста и почитать о нем отзывы прямо с экрана смартфона или лежа с ноутбуком в кровати.</p>
                
                <picture>
                    <source srcset="../img/korporat4.webp" type="image/webp">
                    <img src="../img/korporat4.jpg" alt="Идеальное мероприятие">
                </picture>
                
                <p>Ответственность</p>
                <p>Если вы занимаетесь самостоятельной организацией корпоратива, разумеется, на вас ложится большая ответственность. Вполне нормально, если на протяжении всего мероприятия вы будете находиться в напряжении и переживать, что что-то может пойти не так. А если в процессе организации творческого мероприятия были упущения, вам придется постоянно отвлекаться на решение проблем.</p>
                <p>При обращении в компанию по организации мероприятий вся ответственность ложится на исполнителя. Вы сможете спокойно отдохнуть вместе с коллегами, а сотрудники компании в силу своего опыта гораздо быстрее и эффективнее решат все проблемы.</p>  
                <p>Возможно, некоторые из вас подумали, что для таких корпоративов нужно располагать большим бюджетом, но это не так. TIME TO TALK - это несколько площадок по всему Петербургу, на которых мы организовываем как крупные мероприятия для больших компаний, так и уютные вечера, которые помогут сделать ваш коллектив единым целым.</p>
    
                <!-- ЗДЕСЬ ЗАКАНЧИВАЕТСЯ КОНТЕНТ СТАТЬИ -->
    
            </div>

						<section class="more">

							<h2 class="more__title">Читайте также</h2>
							<ul class="more__list">
			
									<li v-for="item in readMore" :key="item.id" class="more__item">
											<a :href="item.link">
													<picture class="more__pic">
															<source :srcset="'../img/' + item.fileNameOfImage + '.webp'" type="image/webp"> <!--картинка статьи в webp-->
															<img 
																:src="'../img/' + item.fileNameOfImage + '.jpg'" 
																:alt="item.imageDescription"
															>
													</picture>
													<h2 class="more__itemTitle">{{ item.title }}</h2> <!--заголовок-->
													<p class="more__desc">{{item.firstText}}</p> <!--текст карточки статьи-->
											</a>
									</li>
			
							</ul>
						</section>
			
        </div>

  </article>

</main>

<footer class="footer">
	<div class="footer__wrapper">
		<div class="footer__wrapperLeft">
			<a href="../index.html" class="footer__leftLink">time to talk</a>
			<p class="footer__rights">© TIME TO TALK. All rights reserved</p>
			<a href="##" class="footer__politic">Политика конфиденциальности</a>
		</div>
		<ul class="footer__list" id="js--footerList">
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Главная</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Форматы</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Подбор формата</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Команда</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Сертификат</a>
			</li>
			<li class="footer__item">
				<a href="../index.html" class="footer__itemLink toInner">Отзывы</a>
			</li>
			<li class="footer__item">
				<a href="../articles.html" class="footer__itemLink toInner">Статьи</a>
			</li>
		</ul>
		<div class="footer__wrapperRight">
			<div class="header__contacts">
				<a href="tel:79836315539" class="header__tel">+7 (983) 631-55-39</a>
				<button class="header__getPrice" id="js--footerButton">Рассчитать стоимость</button>
			</div>
			<a href="mailto:info@timetotalk.ru" class="footer__mail">info@timetotalk.ru</a>
			<div class="footer__socialWrapper">
				<a target="_blank" href="https://www.youtube.com/channel/UCMXqWb-sXrCuUD7tAAs8D7g" class="footer__socialLink link1" aria-label="youtube"></a>
				<a target="_blank" href="https://vk.com/timetotalk8888" class="footer__socialLink link2" aria-label="Vkontakte"></a>
				<a target="_blank" href="https://t.me/timetotalk_8" class="footer__socialLink link3" aria-label="telegram"></a>
				<a target="_blank" href="https://www.facebook.com/timetotalk.ru" class="footer__socialLink link4" aria-label="facebook"></a>
				<a target="_blank" href="http://instagram.com/timetotalk.ru/" class="footer__socialLink link5" aria-label="instagram"></a>
	</div>
		</div>
	</div>
</footer>

<div class="modalTest" id="js--modalTeam">
	<h2 class="modalTest__title">Узнайте стоимость мероприятия</h2>
	<p class="modalTest__text">Введите ваш номер</p>
	<p class="modalTest__textCall">И наши менеджеры свяжутся с вами в течение 1 минуты!</p>
	<form action="POST" class="modalTest__form" id="js--teamForm">
		<input type="tel" pattern="[+][7]\s[(][0-9]{3}[)]\s[0-9]{3}\s[0-9]{2}\s[0-9]{2}" id="tel6" name="telNumber" class="modalTest__formInput" placeholder="Ваш телефон" required>
		<button class="modalTest__formButton pushButton pushButton--form">отправить</button>
	</form>
</div>

<div class="modalThanks" id="js--modalThanks">
	<h2 class="modalThanks__title">Спасибо!</h2>
	<p class="modalThanks__text">Ваша заявка принята</p>
	<p class="modalThanks__text">Наши менеджеры свяжутся с вами в течение 1 минуты!</p>
</div>

<div class="modalOverlay" id="js--modalOverlay"></div>

<div class="loading" id="js--loading"></div>

<script src="../js/main.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/data.js"></script>
<script src="../js/inner.js"></script>

</body>
</html>